<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "fragments :: html_head">
        <title>Registration System | Assignments</title>
    </head>
    <body>
        <!-- Menu -->
        <div th:replace="fragments :: student-menu">
        </div>
        <!--<img class="img-fluid" th:src="@{/img/student-list.png}" alt="students" />-->
        <br><br>
        <h1 class="text-center">Assignments</h1>
        <br>

        <div class="container" >
            <form th:action="@{/student/assignments/{id}(id=${course.course_id})}" th:object = "${course}" method="POST" encType="multipart/form-data">
                <div class="justify-content-center">
                    <div class="card">
                        <input hidden th:value="${course.course_id}" th:name="id"/>
                        <div class="card-header" align="center">
                            <h3 th:text="${course.courseTitle}" th:field="*{courseTitle}"></h3>
                        </div>
                        <div class="card-body container">
                             <p><b>Note :</b> </p>
                            <p th:text="${course.assignment_Note}" th:field="*{assignment_Note}"></p>
                            <p>Due Date : <span class="text-danger" th:text="${course.assignment_DueDate}" th:field="*{assignment_DueDate}"></span></p>                  
                            <label>Add your file here : </label>
                            <input class="form-control" type="file" name="file" /> 
                            <br>
                            <div align="center">
                                <button type="submit" class="btn btn-outline-secondary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>               
                <br><br>

            </form>
        </div>
<div th:replace="fragments :: footer">
        </div>
    </body>
</html>
