<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "fragments :: html_head">
        <title>Registration System | Update Password</title>
    </head>
    <body>
        <!-- Menu -->
        <div th:replace="fragments :: student-menu">
        </div>
        <!--  <img class="img-fluid" th:src="@{/img/student.png}" alt="student" />-->
        <br><br>
        <br>
        <br>
            <div class ="col-md-6 col-sm-6 container justify-content-center card">
                <div class = "row">
                    <h1 class = "text-center"> Update Password </h1>
                    <br><br>
                    <div class="container-fluid" align="center">
                        <form th:action="@{/student/password/update}" th:object = "${user}" method="POST">
                            <div class="modal-body alert alert-danger" th:if="${message != null}" >
                                <h3 th:text="${message}"></h3>
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label>Username</label>
                                    <input type="text" th:field="*{username}" class="form-control" placeholder="Username" id="courseTitle" name="username" >
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Current password</label>
                                    <input type="text" th:field="*{password}" class="form-control" placeholder="Password" id="password1" th:name="password1" />
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <div class="form-group col-lg-6">
                                    <label>New Password</label>
                                    <input  type="text" th:field="*{newPassword}" class="form-control" th:name="password2" placeholder="New Password" id="password2"/>   
                                     
                                </div>
                            </div>
                            <div align="center">
                                <button type="submit" class="btn btn-outline-secondary">
                                    Submit
                                </button>
                                
                            <br>


                        </form>
                    </div>
                    <br>
                </div>
            </div>
        </div>
            <div th:replace="fragments :: footer">
        </div>
            
    </body>
</html>